body * {
    border: .1px solid red;
}
:root {
    font-family: 'GidolinyaRegular';
    font-weight: normal;
    font-style: normal; 
    --board: #78716C;
    --board2: #A8A29E;
    --XColor: #EF4444;
    --OColor: #0EA5E9;
    font-size: calc(.5vw + 1.5vh + 10px);
    --fontSmall: calc(.5vw + 1.5vh + 8px);
    --fontBig: calc(.5vw + 1.5vh + 15px);
    --unitSize: clamp(4rem, 19vw, 150px);
}
body {
    margin: 0;
}   
img { 
    width: 5%;
    transition: transform 1s cubic-bezier(0,.82,.24,1.55);  
}
img:hover {
    transform: rotate(600deg) scale(1.15);
}
.container { 
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    height: 15vh;
}
.gameboardContainer {
    padding: var(--gamePadding);
    display:flex;
    justify-content: center;
}
.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
}
.footer {
    /* fill remaining space */
    flex: 1 0 auto;
}
.gameUnit, .gameUnitX, .gameUnitO {
    background: var(--board);
    height: var(--unitSize);
    width: var(--unitSize);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.gameUnitX {
    color: var(--XColor)
}
.gameUnitO {
    color: var(--OColor)
}





