body * {
    border: .1px solid red;
}
:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --board: #78716C;
    --board2: #A8A29E;
    --XColor: #EF4444;
    --OColor: #0EA5E9;
    font-size: calc(.5vw + 1vh + 4px);
    --fontSmall: calc(.5vw + 1vh + 2px);
    --fontBig: calc(.5vw + 1vh + 6px);
}   
img { 
    width: 5%;
    transition: transform 1s cubic-bezier(0,.82,.24,1.55);  
}
img:hover {
    transform: rotate(600deg) scale(1.15);
}


