:root {
    font-family: 'GidolinyaRegular';
    font-weight: normal;
    font-style: normal; 
    background: #F5F5F4;
    color: #44403C;
    --board: #78716C;
    --board2: #A8A29E;
    --XColor: #EF4444;
    --OColor: #0EA5E9;
    --background2: #D6D3D1;
    --grid: #1C1917;
    font-size: calc(.5vw + 1.5vh + 10px);
    --fontSmall: calc(.5vw + 1.5vh + 8px);
    --fontBig: calc(.5vw + 1.5vh + 15px);
    --unitSize: clamp(5rem, 19vw, 150px);
}
body {
    margin: 0;
}   
img { 
    width: 35%;
    transition: transform 1s cubic-bezier(0,.82,.24,1.55);  
}
img:hover {
    transform: rotate(600deg) scale(1.15);
}
.container { 
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
  height: 22vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.roundSelection {
  align-self: center;
  text-align: center;
  font-size: 4rem;
}
#X {
  color: var(--XColor);
}
#O {
  color: var(--OColor);
}
.gameboardContainer {
    padding: var(--gamePadding);
    display:flex;
    justify-content: center;
}
.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.footer {
    display: flex;
    height: 20vh;
    margin-top: .5rem;
    justify-content: center;
    align-items: center;
}
.gameUnitContainer {
    background: var(--board);
    height: var(--unitSize);
    width: var(--unitSize);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    display: flex;
    border: .5px solid var(--grid);
}
.gameUnitContainer {
    transition: font-size ease-in;
}
.gameUnit {
    transition: all 0.01s ease-in-out;  
}
.gameUnitX, .gameUnitO {
    animation: fadeInAnimation ease .3s;
    animation-fill-mode: both;
}
.gameUnitX {
    color: var(--XColor);
}
.gameUnitO {
    color: var(--OColor);
}
.reset {
  background: var(--background2);
  border: 2px solid var(--grid);
  font-weight: bold;
  padding: .4rem;
  border-radius: 50% 5%;
  transition: transform .5s cubic-bezier(.6,-0.28,.74,.05);  
}
.reset:hover {
  transform: scale(1.15);
}
.wise {
  margin-top: .5rem;
  text-align: center;
  font-size: 1.6rem;  
}

/* animations */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        -webkit-transform: scale(2);
        -webkit-filter: blur(6rem);
        transform: scale(2);
        filter: blur(6rem);
      }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -webkit-filter: blur(0);
        transform: scale(1);
        filter: blur(0);
     }
}
