body * {
    border: .1px solid red;
}
:root {
    font-family: 'GidolinyaRegular';
    font-weight: normal;
    font-style: normal; 
    --board: #78716C;
    --board2: #A8A29E;
    --XColor: #EF4444;
    --OColor: #0EA5E9;
    font-size: calc(.5vw + 1.5vh + 10px);
    --fontSmall: calc(.5vw + 1.5vh + 8px);
    --fontBig: calc(.5vw + 1.5vh + 15px);
}
body {
    margin: 0;
    height: 100vh;
}   
img { 
    width: 5%;
    transition: transform 1s cubic-bezier(0,.82,.24,1.55);  
}
img:hover {
    transform: rotate(600deg) scale(1.15);
}
.container { 
    display: flex;
    flex-direction: column;
}
.header {
    height: 5vh;
}
.gameboardContainer {
    padding: var(--gamePadding);
    display:flex;
}
.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,);
    padding: clamp(.5rem, 3vw, 5rem);
}
.footer {
    height: 5vh;
}
.gameUnit {
    background: var(--board);
    height: 5rem;
    width: 5rem;
}




